article {
  .resume-nav {
    display: block;
    list-style: none;
    margin: 0;
    li {
      margin: 0;
      display: inline-block;
      a.resume-button,
      a.resume-button:hover {
        padding-right: 1em;
        color: #4a4a4a;
        @media (max-width: 768px) {
          padding-right: 0.5em;
          font-size: 0.75em;
        }
      }
    }
  }
  #resume-header {
    padding-left: 0.5em;
  }
  .resume-section {
    display: block;
    padding: 0;
  }
  .resume-section-title{
    text-align: left;
    margin: 0;
    padding: 1em 0 0 0;
    background: #4a4a4a;
    color:white;
    box-shadow: inset 0px 0px 10px #000;
  }
  .job-description {
    font-style: italic;
    display: none;
  }
  .job-duties,
  .certification-list {
    display: block;
    border-left: 1px solid white;
    margin-left: 2em;
    padding-left: 1em;
    @media (max-width: 768px) {
      border-left: none;
      margin-left: 0;
    }
  }
  .job-duties {
    display: none;
  }
  .backdrop {
    margin: 0;
    padding: 2em;
  }
  .skills-col-sm {
    width: 30%;
    float: left;
    @media (max-width: 1024px) {
      width: 50%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .skills-col-lg {
    width: 40%;
    float: left;
    @media (max-width: 1024px) {
      width: 100%;
    }
  }
  .centered-content {
    display:  block;
    margin: 0 auto;
    width: 80%;
    color: white;
    @media (max-width: 768px) {
      width: 98%
    }
  }
  .skills-content{
    color: white;
    display: block;
    margin: 0 auto;
    width: 98%;
  }
  #academy-of-art {
    background: linear-gradient(45deg, rgba(255, 116, 115, 0.7), rgba(255,116,115, 0.97) 70%), url('../img/180nm.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #bloc,
  #confident {
    background: #ff7473;
  }
  #hudson {
    background: linear-gradient(315deg, rgba(249, 161, 27, 0.7), rgba(249, 161, 27, 0.97) 70%), url('../img/HudsonLogo.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #expression,
  #comfortable {
    background: #f9a11b;
  }
  #avms {
    background: linear-gradient(45deg, rgba(71, 184, 224, 0.7), rgba(71, 184, 224, 0.97) 70%), url('../img/mic.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #berkeley,
  #familiar {
    background: #47b8e0;
  }
  #third-ear {
    background: linear-gradient(315deg, rgba(52, 49, 76, 0.7), rgba(52, 49, 76, 0.97) 70%), url('../img/thirdear.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #certifications {
    background: #34314c;
  }
  #academy-building {
    float: right;
  }
}
.hidden {
  display: none;
}
.clearfix:after {
  content: "";
  display: table; 
  clear: both; 
}
.job-title {
}
.job-button {
  float: left;
  padding: 5px;
  margin-right: 10px;
  width: 50px;
}
.disclosure-triangle {
  display: block;
  width: 25px;
  margin: 0 auto;
}
.job-button:hover {
  // box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.7);
}
.rotate-ninety {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
.feature-img {
  display: inline-block;
  float: right;
  max-width: 30%;
  padding: 2em 10% 2em 2em;
  @media (max-width: 768px) {
    float: none;
    display: block;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .school-name {
    font-size: 1.2em;
    font-weight: bold;
  }
  .degree {
    font-size: 1em;
  }
  .school-info {
    font-size: 1em;
    font-style: italic;
  }
}
.education-content {
  display:  inline-block;
  width: 50%;
  color: white;
  margin: 0 0 0 10%;
  @media (max-width: 768px) {
    width: 98%;
  }
}
#head-cross-section,
#computer,
#waveform {
  width: 120px;
  @media (max-width: 768px) {
    display: block;
    margin: 0 auto;
  }
}