// Typography
$font-family-main: 'Raleway', Helvetica, Arial, sans-serif;
$font-family-headings: 'Quattrocento', Georgia, serif, cursive;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #f8f8f6;
$brand-color-top: #f8f8f6;
$brand-color-bottom: #f8f8f6;
$background-color: #f8f8f6; 
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #4a4a4a;
$link-color: #0070BB;
$selection-color: #D4D4D4; // visible when highlighting text
$site-title-color: #888888;

// Header colours
$header-link-color: #383838;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #61A6F0; //#0070BB;
$header-desc-text-color: #FFF;
